<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Points on a map</title>
   	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>

<body>

<div class='sidebar'>
  <div class='heading'>
    <h1>Our locations</h1>
  </div>
  <div id='listings' class='listings'></div>
</div>
<div id='map' class='map pad2'>Map</div>
</body>

<script >	
	//token - initialization
	mapboxgl.accessToken = 'pk.eyJ1IjoiY2hhcmlzOTAiLCJhIjoiY2prdnlndXhvMHR3ZzNxbXJ3cDc5dHAydiJ9.jaUYJBfa5ZVPxvzbXJ56hQ';
	//Load and initializa Map
	var map = new mapboxgl.Map({
  		container: 'map',
  		style: 'mapbox://styles/mapbox/light-v9',
 	 	center: [-77.034084, 38.909671],
  		zoom: 14
	});

	var stores ={
  "type": "FeatureCollection",
  "features": <%=@geojson.to_json%>
}

	alert(stores)
	console.log(stores)
map.on('load', function(e) {
  buildLocationList(stores) // execute and load all items in the listing
  // Add the data to your map as a layer
  map.addLayer({
    id: 'locations',
    type: 'symbol',
    // Add a GeoJSON source containing place coordinates and information.
    source: {
      type: 'geojson',
      data: stores
    },
    layout: {
      'icon-image': 'restaurant-15',
      'icon-allow-overlap': true,
    }
  });
});

</script>


</html>